body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: white;
}

header a{
    color: #fee098;
    text-decoration: none;
    font-size: 14px;
}

header a:hover{
    text-decoration: underline;
}

.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.menu-card {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.menu-card:hover {
    background-color: #ffe6b3;
    transform: scale(1.05);
}

/* ======== GALERIA ======== */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.item img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.item p {
    margin-top: 10px;
    font-weight: bold;
}