body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.header{
    text-align: center;
    padding: 40px 20px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header h1{
    margin: 0;
    font-size: 2rem;
}

.menu-container{
    margin: 40px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-card {
  text-decoration: none;
  background: #ffffff;
  padding: 25px 40px;
  border-radius: 12px;
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

/* ===== CARROSSEL ISOLADO ===== */

.meu-carrosel {
    width: 100%;
    overflow: hidden;
    background: #111;
    padding: 20px 0;
}

.meu-carrosel-faixa {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important; /* impede quebrar linha */
    gap: 20px;
    
    animation: meuCarroselMover 18s linear infinite;
}

.meu-carrosel img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

/* animação */
@keyframes meuCarroselMover {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

